.alert{
    width: fit-content;
    display: flex;
    align-items: center;
    position: absolute;
    inset-inline-start: 40%;
    inset-block-start: 10%;
    z-index: 10;
    transition: ease-out;
}