.painel-login {
    height: fit-content;
    display: flex;
    justify-self: center;
    align-self: center;
    box-shadow: 1px 1px 12px gray;
    border-radius: 12px;
}

.painel-esquerdo {
    width: 45%;
    border-radius: 12px 0 0 12px;
}

.painel-esquerdo img {

    width: 100%;
}

.painel-direito {
    width: 30vw;
    height: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.app,
.main-bg {
    min-height: 100vh;
}

.organiza-login {
    height: 100dvh;
    width: 100dvw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container {
    display: flex;
    justify-content: center;
}

.btn-login {
    width: 50%;
    background-color: #212121;
    border: 0;
    color: white;
}

.btn.btn-primary.btn-login:hover {
    border: gray !important;
}


.login-img {
    height: 500px;
}

.register-link {
    color: black;
    cursor: pointer;
}

.login-subtext {
    padding-left: 2rem;
    color: white;
}

.painel-registro {
    width: 65vw;
    height: fit-content;
    display: flex;
    justify-self: center;
    align-self: center;
    box-shadow: 1px 1px 12px gray;
    border-radius: 12px;
}
.painel-esquerdo-registro {
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 12px 0 0 12px;
}

.painel-direito-registro {
    width: 50vw;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.register-img{
    width: 100%;
    object-fit: contain;
}
.login-bg{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.btn-register{
    background-color: #212121;
    color: white;
    width: 250px;
}

.form-admin-register{
    padding: 2rem;
}
.-usuario{
    background-color: var(--main-blue);
}
.-admin{
     background-color: var(--main-red);
}