.bg-navbar,
.bg-footer {
    background-color: var(--main-blue);
    color: white;
}

.container {
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 0 .5rem 1rem #747e78;
}

.main-bg {
    background-color: var(--gray);
}

.main {
    padding: 1rem;
}

.navbar-brand {
    color: var(--white);
    cursor: pointer;
}

.footer {
    color: var(--white);
}


.logo-text {
    color: white;
}

.logged-user {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.author-profile-picture.-sm {
    margin: 0 .5rem;
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.dropdown-user {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    padding: 0.5rem;
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
}
