.publication{
    padding: 1rem;
    box-shadow: 0px 0px 5px var(--black);
}

.content{
    border: solid 1px var(--gray);
    padding: 10px;
}

.urgency-box{
    justify-self: end;
    gap: 1rem;
    padding-right: 10px;    
    width: fit-content;
    flex-wrap: nowrap;
}

.urgency{
    width: fit-content;
}

.incident{
    text-decoration: underline;
}

.Vermelho{
    background-color: var(--red);
    color: var(--white);
}

.Amarelo{
    background-color: var(--yellow);
}

.Verde{
    background-color: var(--green);
}

.Laranja{
    background-color: var(--orange);
}

.fit-content{
    width: fit-content;
}

.margin-buttons{
    margin-right: 1rem;
}

.media{
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.media-content{
    background-color: var(--gray);
    padding: 1rem;
}

.address{
    background-color: var(--gray);
    padding: .5rem;
    border-radius: 5px;
}

.author-profile-picture{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: solid 3px var(--gray);
    object-fit: cover;
}

.profile-pic{
    width: fit-content;
    flex-wrap: nowrap;
    display: flex;
    gap: 1rem;
}

.publication-date{
    gap: 1rem;
}